<th:block th:replace="~{/admin/fragments :: top-of-content}"></th:block>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more
        information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official
            DataTables documentation</a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <button class="btn btn-primary" data-toggle="modal" data-target="#create-product"><i
                    class="fas fa-plus"></i> Thêm sản phẩm</button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Mã loại</th>
                            <th>Loại sản phẩm</th>
                            <th>Đánh giá</th>
                            <th>Phần trăm</th>
                            <th>Mô tả</th>
                            <th>Mã ảnh</th>
                            <th>Ảnh</th>
                            <th>Số lượng</th>
                            <th>Đặc trưng</th>
                            <th>Thông số</th>
                            <th>Quản lý</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Mã loại</th>
                            <th>Loại sản phẩm</th>
                            <th>Đánh giá</th>
                            <th>Phần trăm</th>
                            <th>Mô tả</th>
                            <th>Mã ảnh</th>
                            <th>Ảnh</th>
                            <th>Số lượng</th>
                            <th>Đặc trưng</th>
                            <th>Thông số</th>
                            <th>Quản lý</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
<!-- /.container-fluid -->

<th:block th:replace="~{/admin/fragments :: bottom-of-content}"></th:block>
<!-- Modal chi tiết ảnh-->
<div class="modal fade" id="detail-image" tabindex="-1" role="dialog" aria-labelledby="detail-imageTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Chi tiết ảnh sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal thêm sản phẩm -->
<div class="modal fade" id="create-product" tabindex="-1" role="dialog" aria-labelledby="create-productTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="create-productTitle">Thêm sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data" id="formCreateProduct">
                    <div class="row">
                        <div class="form-group col-4">
                            <label for="ma-san-pham-create">Mã sản phẩm</label>
                            <input type="text" class="form-control" id="ma-san-pham-create" name="maSanPham"
                                placeholder="Mã sản phẩm tự tạo" readonly>
                        </div>
                        <div class="form-group col-8">
                            <label for="ten-san-pham-create">Tên sản phẩm</label>
                            <input type="text" class="form-control" id="ten-san-pham-create" name="tenSanPham"
                                placeholder="Nhập tên sản phẩm">
                            <div id="ten-san-pham-create-valid"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-4">
                            <label for="ma-loai-create">Loại sản phẩm</label>
                            <select class="form-control" id="ma-loai-create" name="maLoai">
                                <th:block th:each="item : ${listLoaiSanPham}">
                                    <option th:value="${item.maLoai}" th:utext="${item.tenLoai}"></option>
                                </th:block>
                            </select>
                            <div id="ma-loai-create-valid"></div>
                        </div>
                        <div class="form-group col-4">
                            <label for="danh-gia-create">Đánh giá</label>
                            <select class="form-control" id="danh-gia-create" name="danhGia">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <div id="danh-gia-create-valid"></div>
                        </div>
                        <div class="form-group col-4">
                            <label for="phan-tram-create">Phẩn trăm</label>
                            <input type="text" class="form-control" id="phan-tram-create" name="phanTram"
                                placeholder="Nhập phần trăm">
                            <div id="phan-tram-create-valid"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 form-group">
                            <label for="mo-ta-create">Mô tả</label>
                            <input type="text" class="form-control" id="mo-ta-create" name="moTa"
                                placeholder="Nhập mô tả sản phẩm">
                            <div id="mo-ta-create-valid"></div>
                        </div>
                        <div class="col-4 form-group">
                            <label for="so-luong-create">Số lượng</label>
                            <input type="text" class="form-control" id="so-luong-create" name="soLuong"
                                placeholder="Nhập số lượng">
                            <div id="so-luong-create-valid"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 form-group">
                            <label for="dac-trung-create">Đặc trưng</label>
                            <textarea class="form-control" id="dac-trung-create" name="dacTrung" rows="3"></textarea>
                            <div id="dac-trung-create-valid"></div>
                            <small id="dac-trung-help" class="form-text text-muted">Vui lòng xuống dòng khi nhập nhiều
                                đặc
                                trưng</small>
                        </div>
                        <div class="col-4 form-group">
                            <label for="thong-so-create">Thông số</label>
                            <textarea class="form-control" id="thong-so-create" name="thongSo" rows="3"></textarea>
                            <div id="thong-so-create-valid"></div>
                            <small id="dac-trung-help" class="form-text text-muted">Vui lòng xuống dòng khi nhập nhiều
                                thông
                                số</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-12">
                            <label for="file-create">Thêm ảnh</label>
                            <input type="file" class="form-control-file" name="files" multiple id="file-create">
                            <div id="file-create-valid"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="submitCreateProduct">Lưu thay đổi</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
<script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
<script>
    $(() => {
        var table = $('#dataTable').DataTable({
            "ajax": "/datatable-product",
            "columnDefs": [{
                "targets": -1,
                "data": null,
                "defaultContent": '<button type="button" class="btn btn-info" id = "btnSuaSanPham" data-toggle="modal" data-target="#edit-product"><i class="far fa-edit"></i> Sửa</button> <button type="button" class="btn btn-danger" id = "btnDelete" data-toggle="modal" data-target="#deleteModal"><i class="far fa-trash-alt"></i> Xóa</button>'
            }, {
                "visible": false, "targets": 2
            }, {
                "visible": false, "targets": 7
            }, {
                "targets": 8,
                "data": null,
                "defaultContent": '<button type="button" class="btn btn-success" id = "btnDetailImage" data-toggle="modal" data-target="#detail-image">Chi tiết</button>'
            }]
        });
        $('#dataTable tbody').on('click', '#btnDetailImage', function () {
            var data = table.row($(this).parents('tr')).data();
            console.log(data);
            let html = '<div class="row">';
            let array = data[8].split("\n");
            array.forEach(element => {
                html += '<img class="col-md-6" src="files/sanpham/' + element.split("/")[6] + '" alt="">'
            });
            html += '</div>';
            $('#detail-image > div > div > div.modal-body').html(html);
        });


        // Jquery validate
        $('#formCreateProduct').validate({
            onfocusout: false,
		    onkeyup: false,
		    onclick: false,
            rules: {
                "tenSanPham": {
                    required: true,
                    maxlength: 255
                },"phanTram":{
                    number: true,
                    maxlength: 5,
                },"soLuong":{
                    number: true
                }, "files":{
                    required: false,
                    extension: "jpg,jpeg,png,gif"
                }
            }
        });
    })
    $('#submitCreateProduct').click(() => {
        if($('#formCreateProduct').valid()){
            let form = document.getElementById("formCreateProduct");
            let data = new FormData(form);
            $('#submitCreateProduct').html('<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Loading...');
            $.ajax({
                type: 'post',
                url: "/create-product",
                enctype: 'multipart/form-data',
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 1000000,
                success: result => {
                    alert(result);
                    $('#create-product').modal('hide');
                    $('#submitCreateProduct').html('Lưu thay đổi');
                }, error: () => {
                    alert("Thêm sản phẩm thất bại!");
                    $('#submitCreateProduct').html('Lưu thay đổi');
                }
            })
        }
    });
</script>
</body>

</html>