* {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.news {
    font-size: 16px;
    padding: 6em 0 2em 0;
    background: #fff;
}

.news .box {
    position: relative;
}

.news .box>.img img {
    height: 450px;
}


.news li {
    margin-bottom: 30px;
}

.news li img {
    width: 8em;
    height: 7.5em;
}

.news .content {
    padding: 0 0 0 1em;
}

.news a {
    color: #bd945f;
}

.news .title {
    margin-bottom: .5em;
    line-height: 1.2em;
}

.news .title a {
    font-size: 1.1em;
}

.news .content .title a {
    font-size: 0.8em;
    line-height: 13px;
}

.news .desc {
    /* font-family: Gotham-Thin; */
    font-size: 13px;
    text-align: justify;
    line-height: 1em;
    margin: 0;
    color: #7d7c7c;
}

.news .desc>p {
    /* font-family: Gotham-Thin; */
    font-size: 13px;
    text-align: justify;
    line-height: 1em;
    margin: 0;
    color: #0000009c;
}

.news .see-more {
    text-transform: uppercase;
    font-size: 1.2em;
    margin-top: 1em;
    display: inline-block;
}

.link-sumary p {
    font-size: 13px;
    margin: 0;
}

.link-sumary a {
    color: #bd945f;
}

.link-sumary span {
    margin: -.17rem .5rem;
}

#bai-lien-quan>h5{
    border-bottom: 4px solid #bd945f; 
    padding-left: 0px;
    padding-right: 0px ;
    width: 122px;
}

#bai-lien-quan>p{
    font-size: 12px; 
    letter-spacing: 1px;
}