* {
    margin: 0;
    padding: 0;
}


/* banner */

section .text-image {
    position: absolute;
    top: 20%;
    left: 20%;
}


/* @media only screen and (max-width: 412px){
    .text-image > button{
        position: absolute !important;
        top: 80% !important; 
        left: 80% !important;
        transform: translate(-80%, -80%) !important;
    }
} */

@media only screen and (max-width: 822px) {
    .text-image>h3 {
        font-size: 20px;
    }
    .text-image>p {
        font-size: 10px !important;
    }
    .text-image>button {
        position: absolute !important;
        top: 100% !important;
        left: 0% !important;
        /* transform: translate(-80%, -80%) !important; */
    }
}

@media only screen and (max-width: 640px) {
    .text-image>h3 {
        font-size: 15px;
    }
    .text-image>p {
        font-size: 8px !important;
    }
    .text-image>button {
        position: absolute !important;
        top: 100% !important;
        left: 0% !important;
        /* transform: translate(-80%, -80%) !important; */
    }
    .text-image {
        left: 10% !important;
    }
}

@media only screen and (max-width: 549px) {
    .text-image>h3 {
        font-size: 10px;
    }
    .text-image>p {
        font-size: 7px !important;
    }
    .text-image>button {
        position: absolute !important;
        top: 100% !important;
        left: 0% !important;
        width: 80px;
        height: 30px;
        font-size: 6px;
        /* transform: translate(-80%, -80%) !important; */
    }
}

@media only screen and (max-width: 501px) {
    .text-image>h3 {
        font-size: 10px;
    }
    .text-image>p {
        font-size: 6px !important;
        top: 10px !important;
    }
    .text-image>button {
        position: absolute !important;
        /* top: 100% !important; 
        left: 0% !important; */
        width: 80px;
        height: 30px;
        font-size: 6px;
        /* transform: translate(-80%, -80%) !important; */
    }
    .text-image {
        left: 10%;
    }
}

@media only screen and (max-width: 454px) {
    .text-image>h3 {
        font-size: 10px;
    }
    .text-image>p {
        font-size: 7px !important;
        top: 8px !important;
    }
    .text-image>button {
        position: absolute !important;
        width: 80px;
        height: 30px;
        font-size: 6px;
        /* transform: translate(-80%, -80%) !important; */
    }
    .text-image {
        left: 15% !important;
    }
}

@media only screen and (max-width: 420px) {
    .text-image>h3 {
        font-size: 10px;
    }
    .text-image>p {
        display: none !important;
    }
    .text-image>button {
        position: absolute !important;
        width: 80px;
        height: 30px;
        font-size: 6px;
        /* transform: translate(-80%, -80%) !important; */
    }
    .text-image {
        left: 15% !important;
    }
}


/* -banner */

.background-choice-image>div:nth-child(1) {
    background-color: white;
    text-align: center;
}

.background-choice-image>div:nth-child(1) {
    margin-top: -30px;
    position: relative;
}

.background-choice-image img {
    margin-top: 50px;
    width: 60%;
    height: 60%;
}

.background-choice-image p {
    font-size: 10px;
}

.choice-image {
    line-height: 200%;
}

.phong {
    background-color: white;
    padding: 30px;
    margin-bottom: 30px;
}

.loaiphong {
    border-bottom: 3px solid #bd945f;
    display: inline-block !important;
    color: #2c2e53;
    margin-bottom: 20px;
}

#content {
    background-color: #f3f3f3;
    padding-top: 50px;
    padding-bottom: 50px;
}

div.carousel-item>div>div>div>div>p {
    margin-bottom: 0px;
}

div.carousel-item>div>div>div>div>p:nth-child(2) {
    font-family: Gotham-ultra;
    margin-top: 15px;
    color: #2c2e53;
}

.xemtatca {
    margin-top: 10px;
    float: right;
    font-size: 13px;
}

.sanpham {
    clear: both;
}

div.carousel-item>div>div>div>div>img {
    width: 100%;
}

.box-product {
    font-size: 16px;
}

.box-product .product-slider {
    margin-bottom: 2em;
}

.box-product .slick-arrow:before {
    color: #bd945f;
    font-size: 24px;
}

.box-product .slick-prev {
    left: -30px;
}

.box-product .slick-next {
    right: -25px;
}

section h2,
.box-news h1 {
    padding: 4px 0;
    text-align: center;
    text-transform: uppercase;
    color: #2c2e53;
    margin-bottom: 50px;
    position: relative;
}

section h2:before,
.box-news h1:before {
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    /* height: 42px; */
    border-top: 7px solid #bd945f;
}

#carouselExampleControls>div:nth-child(1)>div:nth-child(1)>div {
    width: 80%;
}

#carouselExampleControls1>div>div.carousel-item.active>div>div>div>div>span {
    color: #bd945f;
}

.about-us {
    padding: 100px 0 32px 0;
    background-image: url('../images/ve-chung-toi.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.about-us:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000009c;
}

.about-us h2 {
    color: #fff;
    margin-bottom: 60px;
    font-size: 28px;
}

.about-us h2:last-of-type {
    margin-top: 60px;
}

.about-us h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
}

.about-us p {
    /* font-family: "Gotham-thin"; */
    color: #fff;
    font-size: .85rem;
    text-align: justify;
    line-height: 1.5rem;
}

.about-us .list-image {
    display: flex;
    align-items: flex-end;
}

.about-us ul li {
    width: calc(25% - 9px);
}

.about-us ul {
    width: 100%;
    margin: 0;
}

.reason-item {
    background: #fff;
    font-size: 16px;
    margin-bottom: 2em;
}

.reason-item .content {
    padding: 2em;
}

.reason-item .content .title {
    font-size: 1.4em;
    font-family: Gotham-Ultra;
    color: #bd945f;
    margin: 0;
}

.reason-item .content .desc {
    font-size: .8em;
    margin: 0;
    color: #565555;
}

.reason-item img {
    width: 3.5em;
}

.reason-item .img {
    display: flex;
    align-items: center;
    padding: 0 0 0 2em;
}

.news {
    font-size: 16px;
    padding: 6em 0 2em 0;
    background: #fff;
}

.news .box {
    position: relative;
}

.news .box>.img img {
    height: 450px;
}

.news .main-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #bd945f;
    padding: 1.5em;
}

.news .main-content a {
    color: #fff;
}

.news li {
    margin-bottom: 16px;
}

.news li img {
    width: 8em;
    height: 7.5em;
}

.news .content {
    padding: 0 0 0 1em;
}

.news a {
    color: #bd945f;
}

.news .title {
    margin-bottom: .5em;
    line-height: 1.2em;
}

.news .title a {
    font-size: 1.1em;
}

.news .content .title a {
    font-size: 0.8em;
    line-height: 13px;
}

.news .desc {
    /* font-family: Gotham-Thin; */
    font-size: 13px;
    text-align: justify;
    line-height: 1em;
    margin: 0;
    color: #7d7c7c;
}

.news .desc>p {
    /* font-family: Gotham-Thin; */
    font-size: 13px;
    text-align: justify;
    line-height: 1em;
    margin: 0;
    color: #0000009c;
}

.news .see-more {
    text-transform: uppercase;
    font-size: 1.2em;
    margin-top: 1em;
    display: inline-block;
}

.partner {
    padding: 60px 0 60px 0;
    background: #fff;
}

.partner-slide .img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.partner-slide img {
    /* height: 144px; */
    /* max-width: 90%; */
    margin: auto;
}

.contact {
    padding: 8em 0 6em 0;
    background: url('../images/lienhe-bg.jpg') no-repeat center;
    background-size: cover;
}

.contact.contact-index input {
    border: 0;
}

.contact h2 {
    margin: 0 0 0 2em;
    text-align: left;
    text-transform: unset;
    color: #fff;
    font-size: 1.5em;
    font-family: "Gotham-Medium";
}

.contact h2:before {
    left: 0;
    transform: translateX(0);
    border-color: #fff;
}

.contact input,
.contact button {
    padding: 18px 24px;
    border: 0;
    background: #fff;
    color: #292a45;
}

.contact input::placeholder {
    color: #292a45;
}

.contact button {
    width: 20%;
    /* margin: 0 0 0 32px; */
}

.contact input {
    width: 70%;
}

.contact-index span {
    position: absolute;
    margin-top: -277px;
}

#content>section.partner>div>div>div img {
    margin-top: 100px;
}