<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragments</title>
    <th:block th:fragment="base-css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" th:inline="text" href="../static/css/base-css.css" th:href="@{css/base-css.css}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
            integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
            <title th:utext = "${title}"></title>
    </th:block>
</head>

<body>
    <th:block th:fragment="base-navigation">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">
                    <img src="../static/images/logo.jpg" th:src="@{images/logo.jpg}" width="90" height="90" alt="">

                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav justify-content-end font-medium">
                        <li class="nav-item">
                            <a class="nav-link" href="/">TRANG CHỦ <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gioi-thieu">GIỚI THIỆU</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/san-pham">SẢN PHẨM</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/tin-tuc">TIN TỨC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="doi-tac">ĐỐI TÁC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="lien-he">LIÊN HỆ</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </th:block>
    <th:block th:fragment="base-footer">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-5 thong-tin-chung font-medium">
                        <p style="font-size: 13px; border-bottom:3px solid white; display: inline-block;">THÔNG TIN
                            CHUNG</p>
                        <h5 class="font-medium">CÔNG TY THHH HOÀNG NAM</h5>
                        <ul style="margin-top: 20px; list-style: none; font-size: 12px;" class="font-thin">
                            <li><i class="fas fa-mobile-alt"></i> 099999999</li>
                            <li><i class="far fa-envelope"></i> cskh@hoangnam.vn</li>
                            <li><i class="fas fa-map-marker-alt"></i> Số 1 Nguyễn Trãi Thanh Xuân Hà Nội</li>
                        </ul>
                    </div>
                    <div class="col-md-4 ve-chung-toi font-medium">
                        <p style="font-size: 13px; border-bottom:3px solid white; display: inline-block;">VỀ CHÚNG TÔI
                        </p>
                        <ul style=" list-style: none; font-size: 12px;" class="font-thin">
                            <li><a href="/gioi-thieu">Giới thiệu</a></li>
                            <li><a href="/san-pham">Sản phẩm</a></li>
                            <li><a href="/tin-tuc">Tin tức</a></li>
                            <li><a href="/doi-tac">Đối tác</a></li>
                            <li><a href="/lien-he">Liên hệ</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 connect-with-us font-medium">
                        <p style="font-size: 13px; border-bottom:3px solid white; display: inline-block;">KẾT NỐI VỚI
                            CHÚNG TÔI</p>
                        <br>
                        <a href="#" style="font-size: 30px;"><i class="fab fa-facebook-square"></i></a>&nbsp;&nbsp;<a
                            href="#" style="font-size: 30px;"><i class="fab fa-twitter"></i></a>
                        &nbsp;&nbsp;<a href="#" style="font-size: 30px;"><i class="fas fa-envelope"></i></a>
                        <br>
                        <img style="margin-top: 20px;" height="40px" src="../static/images/bo-cong-thuong.png" th:src = "@{/images/bo-cong-thuong.png}" alt="Đã thông báo - Bộ Công Thương">
                    </div>
                </div>
            </div>
        </footer>
    </th:block>
    <th:block th:fragment="base-js">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-messaging.js"></script>
<script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyAQ2PMk54tvLDjydmdalHZVqpYh88T7aek",
            authDomain: "thuctapdevmaster01.firebaseapp.com",
            databaseURL: "https://thuctapdevmaster01.firebaseio.com",
            projectId: "thuctapdevmaster01",
            storageBucket: "thuctapdevmaster01.appspot.com",
            messagingSenderId: "856140000238",
            appId: "1:856140000238:web:8e7fa3c8f4ac9b30aebcff",
            measurementId: "G-TYG6VHWHXM"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
        const messaging = firebase.messaging();
        messaging.usePublicVapidKey('BCK4i6fsd5ZCGBiQ5gVSwdySbsjRLRbqbqaa-3fPM8rxbapEU7II2BLTs1IRdfmYYrHMP6JM9mA5dnM3cTOgxa4');
        messaging
            .requestPermission()
            .then(function () {
                console.log("Notification permission granted.");

                // get the token in the form of promise
                return messaging.getToken()
            })
            .then(function (token) {
                console.log(token);
                $.post('/save-token?token='+token);
            })
            .catch(function (err) {
                console.log("Unable to get permission to notify.", err);
            });
            messaging.onTokenRefresh(() => {
            messaging.getToken().then((refreshedToken) => {
                    $.post('/save-token?token='+refreshedToken);
                }).catch((err) => {
                    console.log('Unable to retrieve refreshed token ', err);
                });
            });
        messaging.onMessage((payload) => {
            console.log('Message received. ', payload);
            // Customize notification here
            const notificationTitle = payload.data.title;
            const notificationOptions = {
                body: payload.data.content,
                icon: "/itwonders-web-logo.png",
            };
            let thongBao = new Notification(notificationTitle, notificationOptions);
            thongBao.onclick = function (event) {
                thongBao.close();
                window.open(payload.data.link);
            }
        });
</script>
        <script>
            $(window).resize(() => {
                if ($(window).width() < 768) {
                    $("footer div div div.font-medium").addClass("justify-content-center");
                } else {
                    $("footer div div div.font-medium").removeClass("justify-content-center");
                }
            }).resize();
            $(".nav-item a").each(function(){
                let a = document.location.protocol +"//"+ document.location.hostname+":"+ document.location.port + document.location.pathname;
                console.log(a);
                if($(this).prop('href')==a){
                    $(this).parent().addClass('active');
                }
            });
        </script>
    </th:block>
</body>

</html>