<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:insert="~{fragments :: base-css}"></th:block>
    <link rel="stylesheet" th:inline="text" href="../static/css/home.css" th:href="@{css/home.css}">
    <link rel="stylesheet" th:inline="text" href="../static/css/base-css.css" th:href="@{css/base-css.css}">
</head>

<body>
    <header class="fixed-top" style="background-color: white;">
        <th:block th:insert="~{fragments :: base-navigation}"></th:block>
    </header>

    <div class="chu-tren-anh">
        <div class="font-ultra text-image">
            <h2>THẾ GIỚI NỘI THẤT SỐ 1 VIỆT NAM</h2>
            <br>
            <h2>HOÀNG HOAN</h2>
            <br>

            <button type="button" class="btn btn-light">LIÊN HỆ NGAY</button>
        </div>

        <img class="d-block w-100 image-banner" src="../static/images/banner.jpg" th:src="@{images/banner.jpg}" alt="Leopard">

    </div>
    <div class="background-choice-image" style="background-color: #f3f3f3">
        <div class="container" style="width: 70%;">
            <div class="choice-image row">
                <div class="col-md-3">
                    <img class="p-khach " src="../static/images/p-khach.jpg" th:src="@{images/p-khach.jpg}">
                    <p class="font-ultra">Phòng khách</p>
                </div>
                <div class="col-md-3">
                    <img class="p-ngu" src="../static/images/p-ngu.jpg" th:src="@{images/p-ngu.jpg}">
                    <p class="font-ultra">Phòng ngủ</p>
                </div>
                <div class="col-md-3">
                    <img class="p-bep" src="../static/images/p-bep.jpg" th:src="@{images/p-bep.jpg}">
                    <p class="font-ultra">Phòng bếp</p>
                </div>
                <div class="col-md-3">
                    <img class="p-tam" src="../static/images/p-tam.jpg" th:src="@{images/p-tam.jpg}">
                    <p class="font-ultra">Phòng tắm</p>
                </div>
                <div class="col-md-3">
                    <img class="p-tre-em" src="../static/images/p-tre-em.jpg" th:src="@{images/p-tre-em.jpg}">
                    <p class="font-ultra">Phòng trẻ em</p>
                </div>
                <div class="col-md-3">
                    <img class="p-vanphong" src="../static/images/p-vanphong.jpg" th:src="@{images/p-vanphong.jpg}">
                    <p class="font-ultra">Phòng văn phòng</p>
                </div>
                <div class="col-md-3">
                    <img class="p-cauthang" src="../static/images/p-cauthang.jpg" th:src="@{images/p-cauthang.jpg}">
                    <p class="font-ultra">Phòng cầu thang</p>
                </div>
                <div class="col-md-3">
                    <img class="p-trangtri" src="../static/images/p-trangtri.jpg" th:src="@{images/p-trangtri.jpg}">
                    <p class="font-ultra">Phòng trang trí</p>
                </div>
            </div>
        </div>
        <div style="background-color: #f3f3f3;">
            <p class="san-pham-noi-bat font-ultra" style="font-size: 28px;margin-bottom: 0px; margin-top: 50px;border-bottom: 10px solid #bd945f; display: inline-block; ">
                SẢN PHẨM NỔI BẬT</p>
        </div>
    </div>


    <div id="content">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container" style="background-color: #f3f3f3">
                        <div class="phong">
                            <div class="row sanpham" style="text-align: center;">
                                <div class="col-md-3">
                                    <img src="../static/images/sp-1.jpg" th:src="@{images/sp-1.jpg}" alt="">
                                    <p>BÀN UỐNG NƯỚC</p>
                                    <p><small>(Size vừa, nâu đậm)</small></p>
                                    <h6>8.999.000 VNĐ</h6>
                                </div>
                                <div class="col-md-3">
                                    <img src="../static/images/sp-2.jpg" th:src="@{images/sp-2.jpg}" alt="">
                                    <p>BÀN UỐNG NƯỚC 2</p>
                                    <p><small>(Size vừa, nâu vân gỗ)</small></p>
                                    <h6>3.999.000 VNĐ</h6>
                                </div>
                                <div class="col-md-3">
                                    <img src="../static/images/sp-3.jpg" th:src="@{images/sp-3.jpg}" alt="">
                                    <p>KỆ TV</p>
                                    <p><small>(4 ngăn, gỗ lim)</small></p>
                                    <h6>12.999.000 VNĐ</h6>
                                </div>
                                <div class="col-md-3">
                                    <img src="../static/images/sp-4.jpg" th:src="@{images/sp-4.jpg}" alt="">
                                    <p>KỆ ĐỂ ĐỒ</p>
                                    <p><small>(4 ngăn, trắng gỗ)</small></p>
                                    <h6>2.499.000 VNĐ</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item ">
                    <div class="container" style="background-color: #f3f3f3">
                        <div class="phong">
                            <div class="row sanpham" style="text-align: center;">
                                <div class="col-md-3">
                                    <img src="../static/images/sp-1.jpg" th:src="@{images/sp-1.jpg}" alt="">
                                    <p>BÀN UỐNG NƯỚC</p>
                                    <p><small>(Size vừa, nâu đậm)</small></p>
                                    <h6>8.999.000 VNĐ</h6>
                                </div>
                                <div class="col-md-3">
                                    <img src="../static/images/sp-2.jpg" th:src="@{images/sp-2.jpg}" alt="">
                                    <p>BÀN UỐNG NƯỚC 2</p>
                                    <p><small>(Size vừa, nâu vân gỗ)</small></p>
                                    <h6>3.999.000 VNĐ</h6>
                                </div>
                                <div class="col-md-3">
                                    <img src="../static/images/sp-3.jpg" th:src="@{images/sp-3.jpg}" alt="">
                                    <p>KỆ TV</p>
                                    <p><small>(4 ngăn, gỗ lim)</small></p>
                                    <h6>12.999.000 VNĐ</h6>
                                </div>
                                <div class="col-md-3">
                                    <img src="../static/images/sp-4.jpg" th:src="@{images/sp-4.jpg}" alt="">
                                    <p>KỆ ĐỂ ĐỒ</p>
                                    <p><small>(4 ngăn, trắng gỗ)</small></p>
                                    <h6>2.499.000 VNĐ</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span style=" color: black; font-size: 200%;" class="fas fa-chevron-circle-left"></span>

            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span style=" color: black; font-size: 200%;" class="fas fa-chevron-circle-right"></span>
            </a>
        </div>

        <section class="about-us">
            <div class="container">
                <h2 class="font-ultra"> Về chúng tôi </h2>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="img h-100">
                            <img src="../static/images/ve-chung-toi.jpg" th:src="@{images/ve-chung-toi.jpg}" class="w-100 h-100">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="content h-100">
                            <h3> NỘI THẤT HOÀNG HOAN UY TÍN SONG HÀNH CHẤT LƯỢNG </h3>
                            <div>
                                <p>Nội thất Hoàng Hoan chúng tôi tự hào là đứa con tinh thần ra đời sau hơn 30 năm hoạt động trong lĩnh vực kinh doanh đồ gỗ nội thất với thương hiệu ĐỒ GỖ HOÀNG HOAN nổi tiếng..
                                </p>

                                <p>Tài nguyên của chúng tôi là đội ngũ kiến trúc sư tốt nghiệp ĐH Kiến Trúc Hà Nội với nhiều năm kinh nghiệm, luôn tràn đầy nhiệt huyết và sức sáng tạo của tuổi trẻ. Thế mạnh của chúng tôi là sở hữu xưởng nội thất hơn 10.000m2
                                    tại Hà Nội sản xuất đa dạng các sản phẩm với giá cả luôn cạnh tranh.</p>
                            </div>
                            <div>
                                <p><img alt="giới thiệu" src="../static/images/ve-chung-toi-1.jpg" th:src="@{images/ve-chung-toi-1.jpg}" />&nbsp;<img alt="giới thiệu" src="../static/images/ve-chung-toi-2.jpg" th:src="@{images/ve-chung-toi-2.jpg}" />&nbsp;<img
                                        alt="giới thiệu" src="../static/images/ve-chung-toi-3.jpg" th:src="@{images/ve-chung-toi-3.jpg}" />&nbsp;
                                    <a href="#"><img alt="" src="" th:src="@{images/ve-chung-toi-4.png}" /></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <h2 class="font-ultra"> Tại sao nên chọn hoàng hoan?</h2>
                <div class="row reason">
                    <div class="col-md-6">
                        <div class="reason-item d-flex">
                            <div class="img">
                                <img src="../static/images/chon-1.jpg" th:src="@{images/chon-1.jpg}" alt="lý do 1">
                            </div>
                            <div class="content">
                                <h3 class="title"> Chính sách giá </h3>
                                <p class="desc"> Tốt nhất và công khai giá trên website</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="reason-item d-flex">
                            <div class="img">
                                <img src="../static/images/chon-2.jpg" th:src="@{images/chon-2.jpg}" alt="lý do 2">
                            </div>
                            <div class="content">
                                <h3 class="title"> Sản xuất </h3>
                                <p class="desc"> Trực tiếp sản xuất bởi đội ngũ nhân viên hàng đầu</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="reason-item d-flex">
                            <div class="img">
                                <img src="../static/images/chon-3.jpg" th:src="@{images/chon-3.jpg}" alt="lý do 3">
                            </div>
                            <div class="content">
                                <h3 class="title"> Chất lượng </h3>
                                <p class="desc"> Cam kết chất lượng sản phẩm và tốc độ thi công </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="reason-item d-flex">
                            <div class="img">
                                <img src="../static/images/chon-4.jpg" th:src="@{images/chon-4.jpg}" alt="lý do 4">
                            </div>
                            <div class="content">
                                <h3 class="title"> Bảo hành </h3>
                                <p class="desc"> Dịch vụ bảo hành tốt nhất khu vực</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>


        <!-- <div style="background-color: white;">
            <div style="text-align: center; background-color: white: ;">
                <p class="san-pham-noi-bat font-ultra" style=" font-size: 28px;margin-bottom: 0px; margin-top: 50px;border-bottom: 10px solid #bd945f; display: inline-block; ">TIN TỨC</p>
            </div>

            <div class="container" style="width: 70%;">
                <div class="news-choice row">
                    <div class="col-md-7" style="float: right; top: 50px;margin-bottom: 50px;">
                        <img class=" tintuc-1" src="../static/images/tintuc-1.jpg" th:src="@{images/tintuc-1.jpg}" style="width: 100%;">
                    </div>
                    <div class="col-md-4" style="float: right; top: 50px;margin-bottom: 50px;">
                        <div class="row">
                            <div>
                                <img class="tintuc-2" src="../static/images/tintuc-2.jpg" th:src="@{images/tintuc-2.jpg}">
                            </div>

                        </div>
                        <div class="row">
                            <img class="tintuc-3 " src="../static/images/tintuc-3.jpg" th:src="@{images/tintuc-3.jpg}">

                        </div>

                        <div class="row">
                            <img class="tintuc-4 " src="../static/images/tintuc-4.jpg" th:src="@{images/tintuc-4.jpg}">

                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>

        </div> -->

        <section class="news">
            <div class="container">
                <h2 class="font-ultra"> Tin tức </h2>
                <div class="row font-medium">
                    <div class="col-lg-7">
                        <div class="box">
                            <div class="img">
                                <img src="../static/images/tintuc-6.png" th:src="@{images/tintuc-6.png}" class="w-100">
                            </div>
                            <div class="main-content">
                                <p class="title">
                                    <a href="#" class="font-medium">
                                            TUYỆT CHIÊU THIẾT KẾ CHUNG CƯ MINI 2 PHÒNG NGỦ SIÊU ĐẸP
                                        </a>
                                </p>
                                <div class="desc">
                                    <p>Độ tuổi khởi nghiệp và tự lập ngày càng trẻ hóa trong xã hội hiện đại thời nay, thế nên việc “thiết kế căn hộ chung cư mini 2 phòng ngủ”</p>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-5 ">
                        <ul>
                            <li class="d-flex">
                                <div class="img">
                                    <img src="../static/images/tintuc-1.jpg" th:src="@{images/tintuc-1.jpg}">
                                </div>
                                <div class="content">
                                    <p class="title">
                                        <a href="#">
                                                25+ MẪU GIƯỜNG NGỦ HỘC KÉO THÔNG MINH CHO CĂN PHÒNG BẠN
                                            </a>
                                    </p>
                                    <div class="desc sub-news-content">
                                        <p>Sự thật là chúng ta dành hết 1/3 cuộc đời chỉ để ngủ, vì thế việc tạo được một giấc ngủ ngon là một.</p>

                                    </div>
                                </div>
                            </li>
                            <li class="d-flex">
                                <div class="img">
                                    <img src="../static/images/tintuc-2.jpg" th:src="@{images/tintuc-2.jpg}">
                                </div>
                                <div class="content">
                                    <p class="title">
                                        <a href="#">
                                                NGẤT NGÂY VỚI TOP 10 MẪU NỘI THẤT CHUNG CƯ 1 PHÒNG NGỦ ĐẸP
                                            </a>
                                    </p>
                                    <div class="desc sub-news-content">
                                        <p>Sự thật là chúng ta dành hết 1/3 cuộc đời chỉ để ngủ, vì thế việc tạo được một giấc ngủ ngon là một ...</p>

                                    </div>
                                </div>
                            </li>
                            <li class="d-flex">
                                <div class="img">
                                    <img src="../static/images/tintuc-3.jpg" th:src="@{images/tintuc-3.jpg}">
                                </div>
                                <div class="content">
                                    <p class="title">
                                        <a href="#">
                                                TUYỆT CHIÊU THIẾT KẾ CHUNG CƯ MINI 2 PHÒNG NGỦ SIÊU ĐẸP
                                            </a>
                                    </p>
                                    <div class="desc sub-news-content">
                                        <p>Sự thật là chúng ta dành hết 1/3 cuộc đời chỉ để ngủ, vì thế việc tạo được một giấc ngủ ngon là một ...</p>

                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div>
                            <a href="#" class="see-more"> Xem thêm <i
                                        class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="partner">
            <h2 class="font-ultra"> Đối tác </h2>

            <div class="row">
                <div class="col-md-2"></div>
                <img src="../static/images/vinpearl.png" th:src="@{images/vinpearl.png}" class="col-md-2" />
                <img src="../static/images/muong-thanh.png" th:src="@{images/muong-thanh.png}" class="col-md-2" />
                <img src="../static/images/sheraton.png" th:src="@{images/sheraton.png}" class="col-md-2" />
                <img src="../static/images/the-coffee-house.png" th:src="@{images/the-coffee-house.png}" class="col-md-2" />
                <img src="../static/images/marvella.png" th:src="@{images/marvella.png}" class="col-md-2" />

            </div>



        </section>
        <section class="contact contact-index">
            <span><img src="../static/images/lienhe-1.jpg" th:src="@{images/ghe.png}"
                    alt="Trải nghiệm cùng hoàng hoan" /></span>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-5 ">
                        <h2 class="title"> Trải nghiệm dịch vụ <br> <strong> cùng Hoàng hoan ngay </strong></h2>
                    </div>
                    <div class="col-lg-6 col-md-7">
                        <p class="mb-1 text-white"> Thông tin liên hệ </p>
                        <div class="form-group">
                            <input type="text" placeholder="Email/Số điện thoại">
                            <button class="savePhone"> Gửi </button>
                        </div>
                    </div>
                </div>

            </div>
        </section>


    </div>

    <footer>
        <th:block th:insert="~{fragments :: base-footer} "></th:block>
        <th:block th:insert="~{fragments :: base-js} "></th:block>
    </footer>

</body>

</html>