<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:insert="~{fragments :: base-css}"></th:block>
    <th:block th:fragment="base-css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
            integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" th:inline="text" href="../static/css/tintuc.css" th:href="@{css/tintuc.css}">
    </th:block>
</head>
<body>

    <th:block th:insert="~{fragments :: base-navigation}"></th:block>
        <div id="tintuc">
            <div class="container tintuc">
                <div style="text-align: center;">
                    <h2 class="font-ultra">TIN TỨC</h2>
                </div>
                <div class="row" style="padding: 20px;">
                    <th:block th:each="data : ${listTinTuc}">
                        <div class="col-md-4">
                            <div class="img1">
                                <img th:src="@{${data.pathImage}}" alt="noi that">
                            </div>
    
                            <div class="title">
                                <a th:href="@{'/bai-viet?id='+${data.id}}" th:utext ="${data.title}" class="font-ultra" style="text-transform: uppercase;">NGẤT NGÂY VỚI TOP 10 MẪU NỘI THẤT CHUNG CƯ 1 PHONG NGỦ</a>
                            </div>
    
                            <div class="dt">
                                <p th:utext = "${data.content}" class="font-medium" style="font-size: 13px; margin-top: 15px;">Những căn hộ chung cư mini, có diện tích nhỏ ngày càng trở nên ưa chuộng hơn trong cuộc 
                                   sống hiện đại với những ai có khoản chi phí "hạn 
                                   hẹp".</p>
                            </div>
                        </div>
                    </th:block>

                </div>
                <div style="margin-top: 15px; margin-bottom: 15px;">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                           <th:block th:each="item, state: ${lstPages}">
                               <th:block th:if="@{${state.count}==${activePosition}}">
                                  <li style="margin-bottom: 15px;" class="page-item active"><a class="page-link" th:utext = "${state.count}" th:href="@{'?p='+${state.count}}">1</a></li>
                               </th:block>
                               <th:block th:if="@{${state.count}!=${activePosition}}">
                                <li style="margin-bottom: 15px;" class="page-item"><a class="page-link" th:utext = "${state.count}" th:href="@{'?p='+${state.count}}">1</a></li>
                               </th:block>
                           </th:block>
                        </ul>
                    </nav>
               </div>
        </div>
    <th:block th:insert="~{fragments :: base-footer}"></th:block>
    <th:block th:insert="~{fragments :: base-js}"></th:block>
</body>
</html>